body.formulaire {

    .drop-down-block .drop-down-label,
    .drop-down-block .drop-up-label {
        margin-bottom: 10px !important;
    }

    section.main {
        padding-top: 10px !important;

        .header-fixed {
            top: 0;
        }

        .formulaire-cursor-form .cursor-line {
            .cursor-value-min, .cursor-value-max, .cursor-value-step {
                @media screen and (min-width: $formulaire-screen-tablet) {
                    width: 30%;
                }
            }
        }

        .formulaire-cursor-input-range {
            /***** Thumb Styles *****/
            /* Chrome, Safari, Opera, and Edge Chromium */
            input[type="range"]::-webkit-slider-thumb,  {
                position: static;
            }

            /* Firefox */
            input[type="range"]::-moz-range-thumb {
                position: static;
            }

            .filler {
                &::before {
                    bottom: 6px;
                }

                &::after {
                    bottom: 5px;
                }
            }

            .pin-content {
                padding-top: 5px;
            }
        }

        label.chip, .chip, contact-chip {
            display: inline-block;
            margin: 5px;
        }

        .section-top-container {
            input {
                background: transparent !important;
                border: transparent !important;
            }
        }

        .prop-form .item .domino .data-text .editable {
            font-style: normal;
        }

        .new-element .question .dominos .item .domino .picture {
            padding: 10px 10px 0 10px;
        }
    }
}