<div class="question" guard-root>
    <div class="question-title">
        <h4>[[vm.question.title]]<span ng-if="vm.question.mandatory" style="color:red;margin-left:10px">*</span></h4>
    </div>
    <div class="question-main">
        <table class="twelve matrix-table">
            <thead>
            <tr>
                <th class="two"></th>
                <th ng-repeat="choice in vm.question.choices.all | orderBy:['position', 'id']">[[choice.value]]</th>
                <th class="one"></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="child in vm.question.children.all | orderBy:matrix_position" ng-init="childIndex = $index">
                    <td>[[child.title]]</td>
                    <td ng-repeat ="choice in vm.question.choices.all | orderBy:['position', 'id']">
                        <label ng-if="vm.question.isMatrixSingle()">
                            <input type="radio" name="child-[[child.id]]"
                                   ng-change="vm.switchValue(child, choice)" ng-value="true" input-guard
                                   ng-model="vm.responses.all[vm.mapChildChoicesResponseIndex.get(child).get(choice)].selected">
                        </label>
                        <label ng-if="vm.question.isMatrixMultiple()">
                            <input type="checkbox"
                                   ng-model="vm.responses.all[vm.mapChildChoicesResponseIndex.get(child).get(choice)].selected" input-guard>
                            <span></span>
                        </label>
                    </td>
                    <td><i class="i-restore md-icon dark-grey spaced-left" ng-click="vm.resetLine(child)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>