/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.idea/
/.settings
.jshintrc
/node_modules/
/src/main/resources/public/dist/
/src/main/resources/public/js/
/src/main/resources/public/template/entcore/
/src/main/resources/view/
