<div ng-controller="FormEditorController as vm">
    <div ng-if="currentPage == Pages.EDIT_FORM" guard-root guard-ignore-template>
        <div class="row header-fixed">
            <section class="cell">
                <div class="header-title">
                    <h1>
                        <a class="dontSave" navigation-trigger="redirectTo('/list/mine')"><i18n>formulaire.title</i18n></a>
                        <span ng-if="vm.form.folder_id != 1"><i18n>formulaire.separator</i18n><i18n>formulaire.dots</i18n></span>
                        <i18n>formulaire.separator</i18n>[[vm.form.title]]
                    </h1>
                </div>
            </section>

            <section class="cell" style="float:right;">
                <div class="main-button">
                    <div class="date" ng-if="!isMobile">
                        <i class="i-clock sm-icon spaced-right"></i><i18n>formulaire.form.edit.modified</i18n>[[displayDate(vm.form.date_modification)]]
                    </div>
                    <button class="cell cancel dontSave" navigation-trigger="redirectTo('/list/mine')"><i18n>formulaire.return</i18n></button>
                    <button class="cell cancel ellipsis" ng-click="vm.goTreeView()"
                            title="[[idiom.translate('formulaire.visualize.path')]]">
                        <i18n>formulaire.visualize.path</i18n>
                    </button>
                    <button class="cell" ng-class="{cancel: vm.form.nb_responses <= 0}"
                            ng-click="vm.organizeFormElements()" ng-disabled="vm.form.nb_responses > 0">
                        <i18n>formulaire.organize</i18n>
                    </button>
                    <button class="cell cancel dontSave" ng-click="vm.goPreview()" ng-show="vm.formElements.all.length >= 1"><i18n>formulaire.preview</i18n></button>
                    <button class="cell" ng-click="vm.saveAll(true)"><i18n>formulaire.save</i18n></button>
                </div>
            </section>

            <div class="cell date-saved-form" ng-if="isMobile">
                <i class="i-clock sm-icon spaced-right"></i><i18n>formulaire.form.edit.modified</i18n>[[displayDate(vm.form.date_modification)]]
            </div>
        </div>

        <div class="edit-form" ng-if="vm.formElements.all.length > 0">
            <!-- List of formElements laptop -->
            <div id="container-0" class="elements nested-container" ng-if="!isMobile && vm.formElements.selected.length == 0 && vm.form.nb_responses <= 0">
                <div ng-repeat="formElement in vm.formElements.all | orderBy:'position'" class="twelve twelve-mobile">
                    <!--  Question component -->
                    <question-item ng-if="FormElementUtils.isQuestion(formElement)"
                                   question="formElement"
                                   reorder="true"
                                   has-form-responses="vm.form.nb_responses > 0"
                                   form-elements="vm.formElements"
                                   form="vm.form">
                    </question-item>
                    <!--  Section component -->
                    <section-item ng-if="!FormElementUtils.isQuestion(formElement)"
                                  section="formElement"
                                  reorder="true"
                                  has-form-responses="vm.form.nb_responses > 0"
                                  form-elements="vm.formElements"
                                  form="vm.form">
                    </section-item>
                </div>
            </div>
            <!-- List of formElements mobile -->
            <div class="elements" ng-if="isMobile || (!isMobile && vm.formElements.selected.length > 0) || vm.form.nb_responses > 0">

                <div ng-repeat="formElement in vm.formElements.all | orderBy:'position'" class="twelve twelve-mobile">
                    <!--  Question component -->
                    <question-item ng-if="FormElementUtils.isQuestion(formElement)"
                                   question="formElement"
                                   reorder="false"
                                   has-form-responses="vm.form.nb_responses > 0"
                                   form-elements="vm.formElements"
                                   form="vm.form">
                    </question-item>
                    <!--  Section component -->
                    <section-item ng-if="!FormElementUtils.isQuestion(formElement)"
                                  section="formElement"
                                  reorder="false"
                                  has-form-responses="vm.form.nb_responses > 0"
                                  form-elements="vm.formElements"
                                  form="vm.form">
                    </section-item>
                </div>
            </div>

            <!-- End page buttons -->
            <div class="buttons">
                <div class="flexend nine zero-mobile">
                    <button class="cell" id="createNewEltConfirm1" ng-class="{blueButton: vm.form.nb_responses <= 0}"
                            ng-click="vm.createNewElement()" ng-disabled="vm.form.nb_responses > 0">
                        <i18n>formulaire.add.element</i18n>
                    </button>
                </div>
                <div ng-click="vm.createNewElement()" class="fab zero-desktop">
                    +
                </div>
            </div>
        </div>

        <!-- Error page, wrong form -->
        <div class="error" ng-if="vm.formElements.all.length <= 0">
            <img src="/formulaire/public/img/empty-form.svg" class="img_mini"/>
            <h1><i18n>formulaire.form.edit.empty.main</i18n></h1>
            <br>
            <div><i18n>formulaire.form.edit.empty.caption</i18n></div>
            <br>
            <div class="buttons">
                <button class="cell blueButton" id="createNewEltConfirm2" ng-click="vm.createNewElement()">
                    <i18n>formulaire.add.element</i18n>
                </button>
            </div>
        </div>
    </div>

    <div ng-if="currentPage == Pages.PREVIEW">
        <div ng-include="'formulaire/public/template/containers/preview-form.html'"></div>
    </div>

    <container template='lightbox'></container>
</div>