<div class="row" ng-controller="FormsListController as vm">
    <!-- Title and main buttons -->
    <div class="row">
        <section class="three cell">
            <div>
                <h1>
                    <a href="#/"><i18n>formulaire.title</i18n></a>
                </h1>
            </div>
        </section>

        <section class="nine cell zero-mobile">
            <div class="row">
                <button class="cell right-magnet" ng-click="vm.createForm()"><i18n>formulaire.form.create.button</i18n></button>
                <button class="cell right-magnet cancel" ng-click="vm.importForms()"><i18n>formulaire.form.import.button</i18n></button>
            </div>
        </section>

        <div ng-click="redirectTo('/form/create')" class="fab zero-desktop">
            +
        </div>
    </div>

    <!-- Tabs desktop -->
    <div class="row twelve cell tabs zero-mobile" style="min-height: 60px;">
        <div class="cell">
            <header class="horizontal-spacing selected" ng-class="{ selected : currentPage === Pages.FORMS_LIST }"
                    ng-if="canCreate()" ng-click="redirectTo('/list/mine')">
                <i18n>formulaire.tab.list</i18n>
            </header>
            <header class="horizontal-spacing " ng-class="{ selected : currentPage === Pages.FORMS_RESPONSE }"
                    ng-if="canRespond()" ng-click="redirectTo('/list/responses')">
                <i18n>formulaire.tab.responses</i18n>
            </header>
        </div>
    </div>

    <!-- Tabs mobile -->
    <nav class="vertical mobile-navigation tabs zero-desktop heightNavBar" side-nav >
        <header class="horizontal-spacing row ellipsis" ng-class="{ selected : currentPage === Pages.FORMS_LIST }"
                ng-if="canCreate()" ng-click="redirectTo('/list/mine')">
            <i18n>formulaire.tab.list</i18n>
        </header>
        <header class="horizontal-spacing row ellipsis" ng-class="{ selected : currentPage === Pages.FORMS_RESPONSE }"
                ng-if="canRespond()" ng-click="redirectTo('/list/responses')">
            <i18n>formulaire.tab.responses</i18n>
        </header>
    </nav>

    <!--Navigation desktop-->
    <section class="cell three zero-mobile">
        <h4><input type="text" ng-model="vm.searchInput" placeholder="[[idiom.translate('formulaire.search')]]"></h4>
        <folder-tree tree-props="vm.folderTree"
                     dragdrop="vm.draggable.dragDropHandler($originalEvent)"
                     dropcondition="vm.draggable.dropConditionHandler($originalEvent)"
        ></folder-tree>
        <button class="left-one ten top-spacing-three cancel" ng-click="vm.openCreateFolder()"
                ng_if="vm.folder.id != vm.folders.sharedFormsFolder.id && vm.folder.id != vm.folders.archivedFormsFolder.id">
            <i18n>formulaire.folder.create</i18n>
        </button>
    </section>

    <!-- Navigation mobile -->
    <div class="row zero-desktop">
        <i ng-click="vm.openNavMyForms()" class="dropbtn"></i>[[vm.folder.name]]
    </div>

    <h4 class="zero-desktop"><input type="text" ng-model="vm.searchInput" placeholder="[[idiom.translate('formulaire.search')]]"></h4>

    <div id="mySidenavForms" class="sideNavMyForms zero-desktop ellipsis">
        <div class="vertical-spacing row">
            <i18n class="text-font titleSideNav">formulaire.forms.folders</i18n>
            <a class="closebtn" ng-click="vm.closeNavMyForms()">&times;</a>
        </div>
        <nav class="vertical row">
            <ul>
                <li><a ng-click="vm.openFolder(vm.folders.myFormsFolder)"
                       ng-class="{selected : vm.folder.id === vm.folders.myFormsFolder.id}">
                    <i18n>formulaire.forms.mine</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder(vm.folders.sharedFormsFolder)"
                       ng-class="{selected : vm.folder.id === vm.folders.sharedFormsFolder.id}">
                    <i18n>formulaire.forms.shared</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder(vm.folders.archivedFormsFolder)"
                       ng-class="{selected : vm.folder.id === vm.folders.archivedFormsFolder.id}">
                    <i18n>formulaire.forms.archived</i18n>
                </a></li>
            </ul>
        </nav>
    </div>

    <!--List of forms-->
    <section class="cell nine twelve-mobile">

        <!-- Folder title -->
        <div class="folder-info zero-mobile">
            <div><h4><i class="i-folder lg-icon spaced-right"></i>[[vm.folder.name]]</h4></div>
            <div>
                <i class="i-view-cards xl-icon" ng-click="vm.display.grid = true" ng-class="{'selected': vm.display.grid}"></i>
                <i class="i-view-tab xl-icon" ng-click="vm.display.grid = false" ng-class="{'selected': !vm.display.grid}"></i>
            </div>
        </div>

        <!-- Filters -->
        <div ng-include="'formulaire/public/template/components/filters.html'"></div>

        <!-- Folders -->
        <div class="row folders" ng-include="'/formulaire/public/template/containers/folders.html'"></div>

        <!-- Dominos display -->
        <div class="dominos" ng-if="vm.forms.all.length > 0 && vm.display.grid">
            <div ng-repeat="form in vm.forms.all | filter:vm.searchInput | limitTo:vm.limitTo"
                 ng-if="!vm.forms.all.empty() && vm.display.grid && form.displayed"
                 ng-click="vm.selectItem(form)" ng-dblclick="vm.openForm(form)"
                 class="item" ng-class="{'selected' : form.selected}"
                 dragstart="vm.draggable.dragStartHandler($originalEvent, form)"
                 dropcondition="vm.draggable.dropConditionHandler($originalEvent)"
                 dragdrop="vm.draggable.dragDropHandler($originalEvent)">

                <div class="form domino" ng-model="content.selected" ng-change="vm.onSelectContent(form)">
                    <label ng-show="false">[[form.id]]</label>
                    <div class="four picture" ng-class="{'empty': !form.picture}">
                        <img ng-src="[[(form.picture) || '/formulaire/public/img/empty-image.png']]"/>
                    </div>
                    <div class="eight">
                        <div class="data">
                            <div class="data-text">
                                <div class="title" title="[[form.title]]">[[form.title]]</div>
                                <div class="owner">[[form.owner_name]]</div>
                                <div class="date"><i18n>formulaire.modified</i18n>[[displayDate(form.date_modification)]]</div>
                            </div>
                            <div class="data-bottom">
                                <div class="count"><i18n>formulaire.responses.count</i18n> : [[form.nb_responses]]</div>
                                <div class="icons">
                                    <i class="i-send md-icon" ng-if="form.sent && !form.archived" title="[[vm.getTitle('sent')]]"></i>
                                    <i class="i-share md-icon" ng-if="form.collab" title="[[vm.getTitle('shared')]]"></i>
                                    <i class="i-bell md-icon" ng-if="form.reminded" title="[[vm.getTitle('reminded')]]"></i>
                                    <i class="i-earth md-icon" ng-if="form.is_public" title="[[vm.getTitle('public')]]"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table display -->
        <table class="twelve table" ng-if="vm.forms.all.length > 0 && !vm.display.grid && !isMobile">
            <thead>
                <tr>
                    <th class="one">
                        <label>
                            <input type="checkbox" ng-change="vm.switchAllForms(vm.allFormsSelected)" ng-model="vm.allFormsSelected"/>
                            <span></span>
                        </label>
                    </th>
                    <th class="four"><i18n>formulaire.table.title</i18n></th>
                    <th class="two"><i18n>formulaire.table.author</i18n></th>
                    <th class="one"><i18n>formulaire.responses.count</i18n></th>
                    <th class="three"><i18n>formulaire.table.modified</i18n></th>
                    <th class="one"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in vm.forms.all | filter:vm.searchInput | limitTo:vm.limitTo" ng-if="form.displayed"
                    ng-dblclick="vm.openForm(form)">
                    <td><label><input type="checkbox" ng-model="form.selected"/><span></span></label></td>
                    <td ng-click="form.selected=!form.selected">[[form.title]]</td>
                    <td ng-click="form.selected=!form.selected">[[form.owner_name]]</td>
                    <td ng-click="form.selected=!form.selected">[[form.nb_responses]]</td>
                    <td ng-click="form.selected=!form.selected"><i18n>formulaire.modified</i18n>[[displayDate(form.date_modification)]]</td>
                    <td ng-click="form.selected=!form.selected">
                        <i class="i-send md-icon" ng-if="form.sent && !form.archived" title="[[vm.getTitle('sent')]]"></i>
                        <i class="i-share md-icon" ng-if="form.collab" title="[[vm.getTitle('shared')]]"></i>
                        <i class="i-bell md-icon" ng-if="form.reminded" title="[[vm.getTitle('reminded')]]"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Loader -->
        <div ng-if="vm.loading.list" class="twelve loader">
            <loader min-height="'10px'"/>
        </div>

        <!-- Error display -->
        <div class="error" ng-if="vm.forms.all.length <= 0 && vm.folder.children.length <= 0">
            <img src="/formulaire/public/img/empty_folder.svg" class="img_mini"/>
            <i18n ng-if="vm.folder.id == vm.folders.myFormsFolder.id">formulaire.forms.empty.mine</i18n>
            <i18n ng-if="vm.folder.id == vm.folders.sharedFormsFolder.id">formulaire.forms.empty.shared</i18n>
            <i18n ng-if="vm.folder.id == vm.folders.archivedFormsFolder.id">formulaire.forms.empty.archived</i18n>
        </div>
    </section>

    <infinite-scroll scrolled="vm.infiniteScroll()" loading-mode="true"></infinite-scroll>

    <container template='lightbox'></container>
    <div ng-include="'formulaire/public/template/components/toasters/toaster-forms-list.html'"></div>
    <div ng-include="'formulaire/public/template/components/toasters/toaster-forms-archived.html'"></div>
    <div ng-include="'formulaire/public/template/components/toasters/toaster-folder.html'"></div>
</div>
