<div class="row">
    <section class="cell six">
        <div>
            <h1>
                <a href="#/list/mine"><i18n>formulaire.title</i18n></a><i18n>formulaire.separator</i18n>[[form.title]]
            </h1>
        </div>
    </section>

    <section class="cell six">
        <div class="main-button">
            <button class="cell cancel" ng-click="vm.backToEditor()"><i18n>formulaire.backToEditor</i18n></button>
        </div>
    </section>
</div>

<progress-bubble-bar form-element="vm.preview.formElement" nb-form-elements="vm.nbFormElements" ng-if="vm.preview.page != vm.PreviewPage.RECAP"></progress-bubble-bar>

<div class="respond-question">

    <!-- RPGD page -->
    <div class="nine twelve-mobile" ng-if="vm.form.rgpd && vm.preview.page == vm.PreviewPage.RGPD">
        <div class="question rgpd">
            <h4><i18n>formulaire.question.rgpd.title</i18n></h4>
            <div class="question-main">
                <rgpd form="vm.form"></rgpd>
            </div>
        </div>
        <div class="buttons alone">
            <button class="cell" ng-click="vm.next()"><i18n>formulaire.respond.form</i18n></button>
        </div>
    </div>

    <!-- Question page -->
    <div class="nine twelve-mobile top-spacing-three" ng-if="vm.preview.page == vm.PreviewPage.QUESTION">

        <!-- Display question -->
        <respond-question-item ng-if="vm.preview.formElement.isQuestion() && vm.preview.formElement.question_type != Types.MATRIX"
                               question="vm.preview.formElement"
                               responses="vm.preview.currentResponses.get(vm.preview.formElement)"
                               distribution="null"
                               files="vm.preview.currentFiles.get(vm.preview.formElement)">
        </respond-question-item>
        <respond-matrix ng-if="vm.preview.formElement.isQuestion() && vm.preview.formElement.question_type == Types.MATRIX"
                        question="vm.preview.formElement"
                        responses="vm.preview.currentResponses.get(vm.preview.formElement)"
                        distribution="null">
        </respond-matrix>

        <!-- Display section -->
        <div class="section" ng-if="vm.preview.formElement.isSection()">
            <div class="section-top">
                <div class="title"><h4>[[vm.preview.formElement.title]]</h4></div>
                <div class="description" ng-if="vm.preview.formElement.description">
                    <div data-ng-bind-html="vm.getHtmlDescription(vm.preview.formElement.description)"></div>
                </div>
            </div>
            <div class="section-main">
                <div ng-repeat="question in vm.preview.formElement.questions.all | orderBy:'section_position'">
                    <respond-question-item ng-if="question.question_type != Types.MATRIX"
                                           question="question"
                                           responses="vm.preview.currentResponses.get(question)"
                                           distribution="null"
                                           files="vm.preview.currentFiles.get(vm.preview.formElement)">
                    </respond-question-item>
                    <respond-matrix ng-if="question.question_type == Types.MATRIX"
                                    question="question"
                                    responses="vm.preview.currentResponses.get(question)"
                                    distribution="null">
                    </respond-matrix>
                </div>
            </div>
        </div>

        <!-- Bottom page buttons -->
        <div class="buttons">
            <button class="cell dontSave" ng-if="vm.preview.formElement.position <= 1" ng-disabled="true"><i18n>formulaire.prev</i18n></button>
            <button class="cell cancel dontSave" ng-click="vm.prev()" ng-if="vm.preview.formElement.position > 1"><i18n>formulaire.prev</i18n></button>
            <button class="cell dontSave" ng-click="vm.next()" ng-if="!vm.last"><i18n>formulaire.next</i18n></button>
            <button class="cell dontSave" ng-click="vm.backToEditor()" ng-if="vm.last"><i18n>formulaire.finish</i18n></button>
        </div>
    </div>

    <!-- Recap page -->
    <div class="nine twelve-mobile preview-recap" ng-if="vm.preview.page == vm.PreviewPage.RECAP">
        <h1><i18n>formulaire.preview.end</i18n></h1>
        <button class="cell cancel" ng-click="vm.backToEditor()"><i18n>formulaire.backToEditor</i18n></button>
    </div>
</div>