<div ng-controller="FormPropController as vm">
    <div class="row">
        <section class="cell eight">
            <div>
                <h1>
                    <a ng-click="redirectTo('/list/mine')" href="#/"><i18n>formulaire.title</i18n></a>
                    <span ng-if="vm.folder.parent_id && vm.folder.parent_id != 1"><i18n>formulaire.separator</i18n><i18n>formulaire.dots</i18n></span>
                    <span ng-if="vm.folder.id && vm.folder.id != 1"><i18n>formulaire.separator</i18n>[[vm.folder.name]]</span>
                </h1>
            </div>
        </section>
    </div>

    <div class="prop-form dominos" guard-root>
        <div class="item">
            <div class="domino">
                <div class="three cell picture" ng-class="{'empty': !vm.form.picture}">
                    <image-select ng-model="vm.form.picture"
                                  ng-change="vm.getImage()"
                                  default="/img/illustrations/image-default.svg">
                    </image-select>
                </div>
                <div class="nine">
                    <div class="data">
                        <div class="data-text">
                            <div class="title" ng-if="!isMobile"><i18n>formulaire.form.create.title</i18n></div>
                            <div class="title" ng-if="isMobile"><i18n>formulaire.form.create.title.mobile</i18n></div>
                            <input type="text" ng-model="vm.form.title" i18n-placeholder="formulaire.form.create.title" style="width: 60%;" ng-keydown="$event.keyCode === 13 && vm.save()" input-guard/>
                            <div class="interval">
                                <span class="opening">
                                    <i18n>formulaire.date.opening</i18n>
                                    <date-picker ng-change="vm.checkIntervalDates()" ng-model="vm.form.date_opening" size="10"></date-picker>
                                </span>
                                <span class="ending">
                                    <label for="hasEnding">
                                        <input type="checkbox" id="hasEnding" ng-change="vm.checkIntervalDates()"
                                               ng-model="vm.display.date_ending" ng-disabled="vm.form.is_public"/>
                                        <span ng-style="{'cursor' : vm.form.is_public ? 'default' : 'pointer'}"><i18n>formulaire.date.ending</i18n></span>
                                    </label>
                                    <date-picker ng-model="vm.form.date_ending" ng-if="vm.display.date_ending" size="10"></date-picker>
                                </span>
                            </div>
                            <div class="public" ng-if="canCreatePublic()">
                                <div class="text ellipsis">
                                    <label for="isPublic">
                                        <input type="checkbox" id="isPublic" ng-model="vm.form.is_public"
                                               ng-change="vm.onSwitchPublic(vm.form.is_public)" ng-disabled="vm.form.id"/>
                                        <span ng-style="{'cursor' : vm.form.id ? 'default' : 'pointer'}"
                                              title="[[idiom.translate('formulaire.prop.public.label')]]">
                                            <i18n>formulaire.prop.public.label</i18n>
                                        </span>
                                        <i class="i-info sm-icon centered" title="[[idiom.translate('formulaire.prop.public.description')]]"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="multiple">
                                <div class="text ellipsis">
                                    <label for="isMultiple">
                                        <input type="checkbox" id="isMultiple" ng-model="vm.form.multiple" ng-disabled="vm.form.is_public || vm.form.nb_responses > 0"/>
                                        <span ng-style="{'cursor' : vm.form.is_public || vm.form.nb_responses > 0 ? 'default' : 'pointer'}"
                                              title="[[idiom.translate('formulaire.prop.multiple.label')]]">
                                            <i18n>formulaire.prop.multiple.label</i18n>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="editable">
                                <div class="text ellipsis">
                                    <label for="isEditable">
                                        <input type="checkbox" id="isEditable" ng-model="vm.form.editable" ng-disabled="vm.form.is_public"/>
                                        <span ng-style="{'cursor' : vm.form.is_public ? 'default' : 'pointer'}"
                                              title="[[idiom.translate('formulaire.prop.editable.label')]]">
                                            <i18n>formulaire.prop.editable.label</i18n>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="anonymous">
                                <div class="text ellipsis">
                                    <label for="isAnonymous">
                                        <input type="checkbox" id="isAnonymous" ng-model="vm.form.anonymous" ng-disabled="vm.form.is_public || vm.form.nb_responses > 0"/>
                                        <span ng-style="{'cursor' : vm.form.is_public || vm.form.nb_responses > 0 ? 'default' : 'pointer'}"
                                              title="[[idiom.translate('formulaire.prop.anonymous.label')]]">
                                            <i18n>formulaire.prop.anonymous.label</i18n>
                                        </span>
                                        <i class="i-info sm-icon centered" title="[[idiom.translate('formulaire.prop.anonymous.description')]]"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="notified">
                                <div class="text ellipsis">
                                    <label for="isNotified">
                                        <input type="checkbox" id="isNotified" ng-model="vm.form.response_notified"/>
                                        <span title="[[idiom.translate('formulaire.prop.notified.label')]]"><i18n>formulaire.prop.notified.label</i18n></span>
                                        <i class="i-info sm-icon centered" title="[[idiom.translate('formulaire.prop.notified.description')]]"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="collectData" ng-if="canSeeRgpd()">
                                <div class="text">
                                    <label for="isCollectData">
                                        <input type="checkbox" id="isCollectData" ng-model="vm.form.rgpd" ng-disabled="vm.form.nb_responses > 0"/>
                                        <span ng-style="{'cursor' : vm.form.nb_responses > 0 ? 'default' : 'pointer'}"><i18n>formulaire.prop.rgpd.label</i18n></span>
                                    </label>
                                    <div class="subtext" ng-if="vm.form.rgpd">
                                        <div class="infos">
                                            <div class="goal">
                                                <i18n>formulaire.prop.rgpd.goal</i18n>
                                                <input type="text" class="nine eight-mobile" ng-model="vm.form.rgpd_goal"
                                                        maxlength="150" i18n-placeholder="formulaire.prop.rgpd.goal.input">
                                                <i class="i-info sm-icon centered" title="[[idiom.translate('formulaire.prop.rgpd.goal.description')]]"></i>
                                            </div>
                                            <div class="lifetime">
                                                <i18n>formulaire.prop.rgpd.lifetime</i18n>
                                                <select class="margin-vertical-1" ng-model="vm.form.rgpd_lifetime">
                                                    <option ng-repeat="choice in vm.rgpdLifetimeChoices" ng-value="choice"
                                                            ng-attr-selected="[[choice === vm.form.rgpd_lifetime ? 'selected' : undefined]]">
                                                        [[choice]] [[idiom.translate('formulaire.months')]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <rgpd form="vm.form"></rgpd>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-bottom" ng-class="{ date : currentPage === Pages.PROP_FORM }">
                            <div ng-if="currentPage === Pages.PROP_FORM && !isMobile" style="margin-bottom: 10px;">
                                <i18n>formulaire.form.edit.modified</i18n>[[displayDate(vm.form.date_modification)]]
                            </div>
                            <div class="action-buttons">
                                <button class="cell cancel" ng-click="redirectTo('/list/mine')"><i18n>formulaire.cancel</i18n></button>
                                <button class="cell" reset-guard="vm.saveGuard()" ng-disabled="!vm.form.title || !vm.checkIntervalDates()"><i18n>formulaire.save</i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>