<div ng-controller="RecapQuestionsController as vm">
    <div class="row">
        <section class="cell six">
            <div>
                <h1>
                    <a href="#/list/responses"><i18n>formulaire.title</i18n></a><i18n>formulaire.separator</i18n>
                    [[form.title]]<i18n>formulaire.separator</i18n><i18n>formulaire.recap</i18n>
                </h1>
            </div>
        </section>

        <section class="cell six">
            <div class="main-button">
                <button class="cell cancel" ng-click="redirectTo('/list/responses')">
                    <i18n ng-if="vm.form.editable || vm.distribution.status != DistributionStatus.FINISHED">formulaire.saveAndQuit</i18n>
                    <i18n ng-if="!vm.form.editable && vm.distribution.status == DistributionStatus.FINISHED">formulaire.quit</i18n>
                </button>
            </div>
        </section>
    </div>

    <div class="respond-question">
        <div class="nine twelve-mobile questions">
            <div ng-repeat="formElement in vm.formElements.all | orderBy:'position'">

                <!-- Display question -->
                <recap-question-item ng-if="FormElementUtils.isQuestion(formElement)"
                                     question="formElement"
                                     responses="vm.responses"
                                     form="vm.form"
                                     form-elements="vm.formElements"
                                     distribution="vm.distribution"
                                     historic-position="vm.historicPosition">
                </recap-question-item>

                <!-- Display section -->
                <div class="section" ng-if="!FormElementUtils.isQuestion(formElement)">
                    <div class="section-top">
                        <div class="title"><h4>[[formElement.title]]</h4></div>
                        <div class="description" ng-if="formElement.description">
                            <div data-ng-bind-html="vm.getHtmlDescription(formElement.description)"></div>
                        </div>
                    </div>
                    <div class="section-main">
                        <div ng-repeat="question in formElement.questions.all | orderBy:'section_position'">
                            <recap-question-item question="question"
                                                 responses="vm.responses"
                                                 form="vm.form"
                                                 form-elements="vm.formElements"
                                                 distribution="vm.distribution"
                                                 historic-position="vm.historicPosition">
                            </recap-question-item>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons alone" ng-if="vm.form.editable || vm.distribution.status != DistributionStatus.FINISHED">
                <button class="cell" ng-click="vm.send()"><i18n >formulaire.end</i18n></button>
            </div>
        </div>
    </div>

    <container template='lightbox'></container>
</div>