<div ng-controller="FormCreatorController as vm">
    <div class="row">
        <section class="cell eight">
            <div>
                <h1>
                    <a href="#/"><i18n>formulaire.title</i18n></a>
                </h1>
            </div>
        </section>
    </div>

    <div class="create-form dominos">
        <div class="item">
            <div class="domino">
                <div class="two cell picture" ng-class="{'empty': !vm.form.picture}">
                    <image-select ng-change="vm.getImage()" ng-model="vm.form.picture" default="/img/illustrations/image-default.svg"/>
                </div>
                <div class="ten data">
                    <div class="data-text">
                        <h4><i18n>formulaire.form.create.title</i18n></h4>
                        <input type="text" ng-model="vm.form.title" size="30" i18n-placeholder="formulaire.form.create.title">
                    </div>
                    <div class="data-icons">
                        <button class="cell" ng-click="redirectTo('/list/mine')"><i18n>formulaire.cancel</i18n></button>
                        <button class="cell" ng-click="vm.save()" ng-disabled="!vm.form.title"><i18n>formulaire.save</i18n></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>