<div ng-controller="FormEditorController as vm">
    <div class="row">
        <section class="cell seven">
            <div>
                <h1>
                    <a href="#/"><i18n>formulaire.title</i18n></a><i18n>formulaire.title.separator</i18n>[[edit.form.title]]
                </h1>
            </div>
        </section>

        <section class="cell five">
            <div class="main-button">
                <div class="date">
                    <i class="clock sm-icon spaced-right"></i><i18n>formulaire.form.edit.modified</i18n>[[vm.displayLastSave()]]
                </div>
                <button class="cell" ng-click="vm.createNewQuestion()"><i18n>formulaire.form.edit.add</i18n></button>
                <button class="cell" ng-click="" ng-disabled="true"><i18n>formulaire.form.edit.organize</i18n></button>
                <button class="cell" ng-click="" ng-disabled="true"><i18n>formulaire.form.edit.preview</i18n></button>
            </div>
        </section>
    </div>

    <div class="edit-form" ng-if="vm.questions.all.length > 0">
        <div class="questions" ng-class="{'dominos': vm.questions.all.length > 0}">
            <div ng-repeat="question in vm.questions.all | orderBy:question.position" class="item">
                <div ng-include="'formulaire/public/template/components/question-item.html'"></div>
            </div>
        </div>
        <div class="buttons">
            <button class="cell" ng-click="vm.createNewQuestion()"><i18n>formulaire.form.edit.add</i18n></button>
        </div>
        <div class="buttons">
            <button class="cell" ng-click="redirectTo('/list/mine')"><i18n>formulaire.return</i18n></button>
            <button class="cell" ng-click="vm.saveQuestions(true)"><i18n>formulaire.save</i18n></button>
        </div>
    </div>

    <div class="error" ng-if="vm.questions.all.length <= 0">
        <img src="/formulaire/public/img/empty-form.svg" class="img_mini"/>
        <h1><i18n>formulaire.form.edit.empty.main</i18n></h1>
        <br>
        <div><i18n>formulaire.form.edit.empty.caption</i18n></div>
    </div>

    <container template='lightbox'></container>
</div>