<div class="cell folder-article"
     ng-repeat="folder in vm.folders.getChildren(vm.folder.id) | orderBy:'name'"
     ng-click="vm.selectItem(folder)" ng-dblclick="vm.openFolder(folder)"
     ng-class="{'selected' : folder.selected}">



    <div class="folder" lvl-draggable lvl-drop-target on-drop="vm.dropped(dragEl,dropEl)">
        <label ng-show="false">[[folder.id]]</label>
        <div class="folder-image three">
            <i class="i-folder hg-icon"></i>
        </div>
        <div class="folder-infos nine">
            <div class="name eleven ellipsis"><b>[[folder.name]]</b></div>
            <div class="counters ellipsis">[[vm.displayNbItems(folder)]]</div>
        </div>
    </div>
</div>