<div class="row" ng-controller="FormsListController as vm">
    <div class="row">
        <section class="cell seven">
            <div>
                <h1>
                    <a href="#/"><i18n>formulaire.title</i18n></a>
                </h1>
            </div>
        </section>

        <section class="cell five">
            <div class="main-button">
                <button class="cell" ng-click="redirectTo('/form/create')"><i18n>formulaire.form.create.button</i18n></button>
            </div>
        </section>
    </div>

    <div class="row twelve cell tabs zero-mobile" style="min-height: 60px;">
        <div class="cell">
            <header class="horizontal-spacing selected" ng-class="{ selected : currentPage === 'formsList' }"
                    ng-if="canCreate()" ng-click="redirectTo('/list/mine')">
                <i18n>formulaire.tab.list</i18n>
            </header>
            <header class="horizontal-spacing " ng-class="{ selected : currentPage === 'formsResponses' }"
                    ng-if="canRespond()" ng-click="redirectTo('/list/responses')">
                <i18n>formulaire.tab.responses</i18n>
            </header>
        </div>
    </div>


    <!--Navigation menu-->
    <section class="cell three">
        <h4><input type="text" ng-model="vm.searchInput" placeholder="Rechercher"></h4>
        <nav class="vertical row">
            <ul>
                <li><a ng-click="vm.openFolder('mine')" ng-class="{selected : vm.folder === 'mine'}">
                    <i18n>formulaire.forms.mine</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder('shared')" ng-class="{selected : vm.folder === 'shared'}">
                    <i18n>formulaire.forms.shared</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder('archived')" ng-class="{selected : vm.folder === 'archived'}">
                    <i18n>formulaire.forms.archived</i18n>
                </a></li>
            </ul>
        </nav>
    </section>

    <!--List of forms-->
    <section class="cell nine">
        <div class="folder-info">
            <div><h4><i class="folder spaced-right"></i>[[vm.displayFolder()]]</h4></div>
            <div>
                <i class="view-cards hg-icon" ng-click="vm.display.grid = true" ng-class="{'selected': vm.display.grid}"></i>
                <i class="view-tab hg-icon" ng-click="vm.display.grid = false" ng-class="{'selected': !vm.display.grid}"></i>
            </div>
        </div>

        <div ng-include="'formulaire/public/template/components/filters/filters-creator.html'"></div>

        <!--Dominos display-->
        <div class="dominos" ng-if="!vm.forms.all.empty() && vm.display.grid">
            <div ng-repeat="form in vm.forms.all | filter:vm.searchInput"
                 ng-if="!vm.forms.all.empty() && vm.display.grid && form.displayed"
                 ng-click="form.selected = !form.selected" ng-dblclick="vm.openForm(form)"
                 class="item" ng-class="{'selected' : form.selected}">
                <div class="domino">
                    <div class="four picture" ng-class="{'empty': !form.picture}">
                        <img src="[[form.picture]]" onerror="this.src='/formulaire/public/img/empty-image.png';"/>
                    </div>
                    <div class="eight data">
                        <div class="data-text">
                            <div class="title">[[form.title]]</div>
                            <div class="owner">[[form.owner_name]]</div>
                            <div class="date"><i18n>formulaire.modified</i18n>[[form.date_modification.toLocaleString()]]</div>
                        </div>
                        <div class="data-bottom">
                            <div class="count"><i18n>formulaire.responses.count</i18n> : [[form.nb_responses]]</div>
                            <div class="icons">
                                <i class="send md-icon" ng-if="form.sent"></i>
                                <i class="share md-icon" ng-if="form.collab"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Table display-->
        <table class="twelve table" ng-if="!vm.forms.all.empty() && !vm.display.grid">
            <thead>
                <tr>
                    <th class="one"><input type="checkbox" ng-change="vm.switchAll(vm.allFormsSelected)" ng-model="vm.allFormsSelected"/></th>
                    <th class="three"><i18n>formulaire.table.title</i18n></th>
                    <th class="three"><i18n>formulaire.table.author</i18n></th>
                    <th class="one"><i18n>formulaire.responses.count</i18n></th>
                    <th class="three"><i18n>formulaire.table.modified</i18n></th>
                    <th class="one"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in vm.forms.all | filter:vm.searchInput"
                    ng-if="form.displayed"
                    ng-dblclick="vm.openForm(form)">
                    <td><input type="checkbox" ng-model="form.selected"/></td>
                    <td ng-click="form.selected=!form.selected">[[form.title]]</td>
                    <td ng-click="form.selected=!form.selected">[[form.owner_name]]</td>
                    <td ng-click="form.selected=!form.selected">[[form.nb_responses]]</td>
                    <td ng-click="form.selected=!form.selected"><i18n>formulaire.modified</i18n>[[form.date_modification.toLocaleString()]]</td>
                    <td ng-click="form.selected=!form.selected">
                        <i class="send md-icon" ng-if="form.sent"></i>
                        <i class="share md-icon" ng-if="form.collab"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="error" ng-if="vm.forms.all.empty()">
            <img src="/formulaire/public/img/onboarding.svg"/>
            <i18n>formulaire.forms.empty</i18n>
        </div>
    </section>

    <container template='lightbox'></container>
    <div ng-include="'formulaire/public/template/components/toaster.html'"></div>
</div>
