<div class="row" ng-controller="FormsResponsesController as vm">
    <div class="row">
        <section class="cell twelve">
            <div>
                <h1>
                    <a href="#/"><i18n>formulaire.title</i18n></a>
                </h1>
            </div>
        </section>
    </div>

    <div class="row twelve cell tabs zero-mobile" style="min-height: 60px;">
        <div class="cell">
            <header class="horizontal-spacing" ng-class="{ selected : currentPage === 'formsList' }"
                    ng-if="canCreate()" ng-click="redirectTo('/list/mine')">
                <i18n>formulaire.tab.list</i18n>
            </header>
            <header class="horizontal-spacing " ng-class="{ selected : currentPage === 'formsResponses' }"
                    ng-if="canRespond()" ng-click="redirectTo('/list/responses')">
                <i18n>formulaire.tab.responses</i18n>
            </header>
        </div>
    </div>

    <!--Tab title and display icons-->
    <section class="cell twelve">
        <div class="folder-info ">
            <div><h4></i>Mes réponses</h4></div>
            <div>
                <i class="show-icons hg-icon" ng-click="vm.display.grid = true" ng-class="{'selected': vm.display.grid}"></i>
                <i class="show-list hg-icon" ng-click="vm.display.grid = false" ng-class="{'selected': !vm.display.grid}"></i>
            </div>
        </div>
    </section>

    <!--Search bar-->
    <section class="cell twelve">
        <h4 class="cell three"><input type="text" ng-model="vm.searchInput" placeholder="Rechercher"></h4>
        <div class="cell nine"></div>
    </section>

    <!--List of forms-->
    <section class="cell twelve">
        <div ng-include="'formulaire/public/template/components/filters-responder.html'"></div>
        <!--Dominos display-->
        <div class="dominos" ng-if="!vm.forms.all.empty() && vm.display.grid">
            <div ng-repeat="form in vm.forms.all | filter:vm.searchInput"
                 ng-if="!vm.forms.all.empty() && vm.display.grid && form.displayed"
                 ng-click="form.selected = !form.selected" ng-dblclick="vm.openForm(form)"
                 class="item" ng-class="{'selected' : form.selected}">
                <div class="domino">
                    <div class="four picture" ng-class="{'empty': !form.picture}">
                        <img src="[[form.picture]]" onerror="this.src='/formulaire/public/img/empty-image.png';"/>
                    </div>
                    <div class="eight data">
                        <div class="data-text">
                            <h4>[[form.title]]</h4>
                            <h5>[[form.owner_name]]</h5>
                            <div class="date"><i18n>formulaire.sent</i18n>[[vm.displayDate(form.date_sending)]]</div>
                        </div>
                        <div class="data-status">
                            <span ng-if="!!form.date_response" style="color: green">
                                <i18n>formulaire.responded.date</i18n>[[vm.displayDate(form.date_response)]]
                            </span>
                            <span ng-if="!!!form.date_response" style="color: #b50000">
                                <i18n>formulaire.responded.waiting</i18n>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Table display-->
        <table class="twelve table" ng-if="!vm.forms.all.empty() && !vm.display.grid">
            <thead>
                <tr>
                    <th class="one"><input type="checkbox" ng-change="vm.switchAll(vm.allFormsSelected)" ng-model="vm.allFormsSelected"/></th>
                    <th class="three"><i18n>formulaire.table.title</i18n></th>
                    <th class="three"><i18n>formulaire.table.author</i18n></th>
                    <th class="three"><i18n>formulaire.table.sent</i18n></th>
                    <th class="two"><i18n>formulaire.status</i18n></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in vm.forms.all | filter:vm.searchInput"
                    ng-if="form.displayed"
                    ng-dblclick="vm.openForm(form)">
                    <td><input type="checkbox" ng-model="form.selected"/></td>
                    <td ng-click="form.selected=!form.selected">[[form.title]]</td>
                    <td ng-click="form.selected=!form.selected">[[form.owner_name]]</td>
                    <td ng-click="form.selected=!form.selected"><i18n>formulaire.sent</i18n>[[vm.displayDate(form.date_sending)]]</td>
                    <td ng-click="form.selected=!form.selected">
                        <span ng-if="!!form.date_response" style="color: green">
                            <i18n>formulaire.responded.date</i18n>[[vm.displayDate(form.date_response)]]
                        </span>
                        <span ng-if="!!!form.date_response" style="color: #b50000">
                            <i18n>formulaire.responded.waiting</i18n>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="error" ng-if="vm.forms.all.empty()">
            <img src="/formulaire/public/img/onboarding.svg"/>
            <i18n>formulaire.forms.empty</i18n>
        </div>
    </section>

    <div ng-include="'formulaire/public/template/components/toaster.html'"></div>
</div>
