<div class="row">
    <section class="cell nine">
        <div>
            <h1>
                <a href="#/mine"><i18n>formulaire.title</i18n></a>
                <span ng-if="edit.mode">/ [[edit.form.title]]</span>
            </h1>
        </div>
    </section>

    <section class="cell three">
        <div class="main-button" ng-if="page == 'list'">
            <button class="cell" ng-click="redirectTo('/form/create')"><i18n>formulaire.create.button</i18n></button>
        </div>
        <div class="main-button" ng-if="page == 'edit'">
            <button class="cell" ng-click=""><i18n>formulaire.edit.add</i18n></button>
            <button class="cell" ng-click=""><i18n>formulaire.edit.organize</i18n></button>
            <button class="cell" ng-click=""><i18n>formulaire.edit.preview</i18n></button>
        </div>
    </section>
</div>

<div class="row">
    <container template="tab"></container>
</div>