<div ng-controller="RespondQuestionController as vm">
    <div class="row">
        <section class="cell six">
            <div>
                <h1>
                    <a href="#/list/responses"><i18n>formulaire.title</i18n></a><i18n>formulaire.separator</i18n>[[form.title]]
                </h1>
            </div>
        </section>

        <section class="cell six">
            <div class="main-button">
                <button class="cell cancel" ng-click="vm.goToRecap()"><i18n>formulaire.recap</i18n></button>
                <button class="cell cancel" reset-guard="vm.saveAndQuitGuard()"><i18n>formulaire.saveAndQuit</i18n></button>
            </div>
        </section>
    </div>

    <progress-bubble-bar form-element="vm.formElement" nb-form-elements="vm.nb_elements"></progress-bubble-bar>

    <div class="respond-question">
        <div class="nine twelve-mobile">

            <!-- Display question -->
            <respond-question-item ng-if="FormElementUtils.isQuestion(vm.formElement)"
                                   question="vm.formElement"
                                   response="vm.responses.all[0]"
                                   distribution="vm.distribution"
                                   selected-index="vm.selectedIndexList[0]"
                                   responses-choices="vm.responsesChoicesList[0]"
                                   files="vm.filesList[0]">
            </respond-question-item>

            <!-- Display section -->
            <div class="section" ng-if="!FormElementUtils.isQuestion(vm.formElement)">
                <div class="section-top">
                    <div class="title"><h4>[[vm.formElement.title]]</h4></div>
                    <div class="description" ng-if="vm.formElement.description">
                        <div bind-html="vm.formElement.description"></div>
                    </div>
                </div>
                <div class="section-main">
                    <div ng-repeat="question in vm.formElement.questions.all | orderBy:'section_position'">
                        <respond-question-item ng-if="FormElementUtils.isQuestion(question)"
                                               question="question"
                                               response="vm.responses.all[question.section_position - 1]"
                                               distribution="vm.distribution"
                                               selected-index="vm.selectedIndexList[question.section_position - 1]"
                                               responses-choices="vm.responsesChoicesList[question.section_position - 1]"
                                               files="vm.filesList[question.section_position - 1]">
                        </respond-question-item>
                    </div>
                </div>
            </div>

            <!-- Bottom page buttons -->
            <div class="buttons">
                <button class="cell" ng-if="vm.formElement.position <= 1" ng-disabled="true"><i18n>formulaire.prev</i18n></button>
                <button class="cell cancel" reset-guard="vm.prevGuard()" ng-if="vm.formElement.position > 1"><i18n>formulaire.prev</i18n></button>
                <button class="cell" reset-guard="vm.nextGuard()"><i18n>formulaire.next</i18n></button>
            </div>
        </div>
    </div>
</div>