<div ng-controller="QuestionResponderController as vm">
    <div class="row">
        <section class="cell seven">
            <div>
                <h1>
                    <a href="#/list/responses"><i18n>formulaire.title</i18n></a><i18n>formulaire.title.separator</i18n>[[form.title]]
                </h1>
            </div>
        </section>

        <section class="cell five">
            <div class="main-button">
                <button class="cell" ng-click="vm.saveAndQuit()"><i18n>formulaire.saveAndQuit</i18n></button>
            </div>
        </section>
    </div>

    <div ng-include="'formulaire/public/template/components/progress-bar.html'" ng-if="form.nbQuestions > 1"></div>

    <div class="respond-question">
        <div class="nine twelve-mobile">
            <div class="question">
                <div class="question-title">
                    <h4>[[vm.question.title]]<span ng-if="vm.question.mandatory" style="color:red;margin-left:10px">*</span></h4>
                </div>
                <div class="question-main">
                    <div ng-if="vm.question.question_type == vm.types.FREETEXT">
                        <div ng-if="!!vm.question.statement" bind-html="vm.question.statement"></div>
                    </div>
                    <div ng-if="vm.question.question_type == vm.types.SHORTANSWER">
                        <textarea ng-model="vm.response.answer" i18n-placeholder="formulaire.question.type.SHORTANSWER">
                        </textarea>
                    </div>
                    <div ng-if="vm.question.question_type == vm.types.LONGANSWER">
                        <editor ng-model="vm.response.answer"></editor>
                    </div>
                    <div ng-if="vm.question.question_type == vm.types.SINGLEANSWER">
                        <select ng-model="vm.response.answer">
                            <option ng-repeat="choice in vm.question.choices.all" ng-value="choice.value">[[choice.value]]</option>
                        </select>
                    </div>
                    <div ng-if="vm.question.question_type == vm.types.MULTIPLEANSWER">
                        <div ng-repeat="choice in question.choices.all">
                            <label for="check-[[choice.id]]">
                                <input type="checkbox" id="check-[[choice.id]]" ng-model="vm.selectedIndex[$index]">
                                <span>[[choice.value]]</span>
                            </label>
                        </div>
                    </div>
                    <div ng-if="vm.question.question_type == vm.types.DATE">
                        <date-picker ng-model="vm.response.answer"></date-picker>
                    </div>
                    <div ng-if="vm.question.question_type == vm.types.TIME">
                        <input type="time" ng-model="vm.response.answer"/>
                    </div>
                    <div ng-if="vm.question.question_type == vm.types.FILE">
                        <div class="info" ng-if="vm.files.length > 0">
                            <i18n>formulaire.response.file.already.exist</i18n>[[vm.files[0].name]]
                        </div>
                        <file-picker-list files="vm.files" multiple="false"></file-picker-list>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="cell cancel" ng-click="vm.prev()" ng-disabled="vm.question.position == 1"><i18n>formulaire.prev</i18n></button>
                <button class="cell" ng-click="vm.next()" ng-if="!vm.last"><i18n>formulaire.next</i18n></button>
                <button class="cell" ng-click="vm.send()" ng-if="vm.last"><i18n>formulaire.end</i18n></button>
            </div>
        </div>
    </div>

    <container template='lightbox'></container>
</div>