// Edit-form

.question-item {
  .domino {
    display: flex;
    flex-direction: column;
    padding: 1% 2% 2% 2%;
    margin: 10px 0;
    background: $formulaire-white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    &.questionError {
      border-left: solid 3px red;
    }

    .question-top {
      display: flex;
      justify-content: center;
      margin-bottom: 1%;
      cursor: grab;

      .dots {
        display: flex;
        flex-direction: column;
        line-height: 7px;
      }
    }

    .focusable {
      display: flex;
      flex-direction: column;

      .question-title {
        display: flex;
        justify-content: space-between;

        .empty {
          font-weight: normal;
          font-style: italic;
          opacity: 0.6;
        }
      }

      .question-bottom {
        display: flex;
        justify-content: flex-end;

        .mandatory {
          margin: 0 20px;
        }

        img {
          margin: 0 5px;
          opacity: 0.6;
        }
      }
    }
  }
}


.question-type {
  font-size: 12px;

  textarea {
    width: 100%;
    height: 60px;
    resize: none;
    background: none;
  }
}


.edit-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.drag {
  ul {
    list-style: none;
    height: auto;
    padding: 0;

    .hidden {
      visibility: hidden;
    }

    .row-shadow-effect {
      background-color: rgba(0, 0, 0, 0.01);
      border-radius: 5px;
      padding: 10px;
      box-shadow: -2px 5px 5px #bfbfbf7d;
      z-index: 0;
      cursor: grab;
      margin: 1%;
      width: auto;
    }

    .top {
      width: 5%;

      .dots {
        display: flex;
        flex-direction: column;
        line-height: 7px;
        width: fit-content;
        transform: rotate(90deg);
        color: black;
        opacity: 0.8;
      }
    }

    .title {
      width: 86%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .container-arrow {
      display: flex;
      justify-content: space-around;

      .rotateDown {
        transform: rotate(-90deg);
        cursor: pointer;
      }

      .rotateUp {
        transform: rotate(90deg);
      }
    }
  }
}