i {
  &.spaced {
    &-right {
      margin-right: 5px;
    }

    &-left {
      margin-right: 5px;
    }

    &-both {
      margin: 0 5px;
    }
  }

  &.xs-icon {
    font-size: 10px;
  }

  &.sm-icon {
    font-size: 16px;
  }

  &.md-icon {
    font-size: 20px;
  }

  &.lg-icon {
    font-size: 24px;
  }

  &.hg-icon {
    font-size: 40px;
  }

  &.show-icons {
    vertical-align: middle;
    opacity: 0.2;
  }

  &.show-list {
    vertical-align: middle;
    opacity: 0.2;
  }

  &.selected {
    opacity: 0.6;
  }

  &.clock::before {
    @include fonticon();
    content: '\f017';
    vertical-align: middle;
    opacity: 0.6;
  }

  &.drag::before {
    @include fonticon();
    content: '\e913';
    vertical-align: middle;
    opacity: 0.6;
  }

  &.arrow-simple::before {
    @include fonticon();
    content: "\e87b";
    vertical-align: middle;
    color: black;
    opacity: 0.4;
  }
}