i {
  font-family: 'material-icons';
  margin: 0;

  &.spaced {
    &-right {
      margin-right: 5px;
    }

    &-left {
      margin-left: 5px;
    }

    &-both {
      margin: 0 5px;
    }
  }

  // Icons sizes

  &.xs-icon::before {
    font-size: 10px;
  }

  &.sm-icon::before {
    font-size: 16px;
  }

  &.md-icon::before {
    font-size: 20px;
  }

  &.lg-icon::before {
    font-size: 24px;
  }

  &.hg-icon::before {
    font-size: 36px;
  }

  &.selected::before {
    color: $formulaire-grey-dark !important;
  }

  // Icons color

  &.dark-grey::before {
    color: $formulaire-grey-dark !important;
  }

  &.grey::before {
    color: $formulaire-grey !important;
  }

  &.light-grey::before {
    color: $formulaire-grey-light !important;
  }

  &.very-light-grey::before {
    color: $formulaire-grey-very-light !important;
  }

  // Icons content

  &.cancel::before {
    content: "\F156";
  }

  &.chevron-up::before {
    content: "\F143";
  }

  &.chevron-down::before {
    content: "\F140";
  }

  &.clock::before {
    content: "\F150";
    color: $formulaire-grey-dark;
  }

  &.delete::before {
    content: "\F1C0";
  }

  &.download::before {
    content: "\F1DA";
    color: $formulaire-grey-dark;
  }

  &.drag::before {
    content: "\F1D8";
    color: $formulaire-grey;
  }

  &.duplicate::before {
    content: "\F18F";
  }

  &.plus-circle::before {
    content: "\F417";
  }

  &.send::before {
    content: "\F0108";
    color: $formulaire-grey-dark;
  }

  &.share::before {
    content: "\F497";
    color: $formulaire-grey-dark;
  }

  &.view-cards::before {
    content: "\FE4D";
    color: $formulaire-grey-light;
  }

  &.view-tab::before {
    content: "\F572";
    color: $formulaire-grey-light;
  }

  &.undo::before {
    content: "\F54C";
  }
}