i {
  margin: 0;

  &.spaced {
    &-right {
      margin-right: 5px;
    }

    &-left {
      margin-left: 5px;
    }

    &-both {
      margin: 0 5px;
    }
  }

  // Status

  &.hide {
    opacity: 0;
  }

  &.selected::before {
    color: $formulaire-grey-dark !important;
  }

  // Icons sizes

  &.xs-icon::before {
    font-size: 10px;
  }

  &.sm-icon::before {
    font-size: 16px;
  }

  &.md-icon::before {
    font-size: 20px;
  }

  &.lg-icon::before {
    font-size: 24px;
  }

  &.xl-icon::before {
    font-size: 40px;
  }

  &.hg-icon::before {
    font-size: 48px;
  }

  // Icons color

  &.dark-grey::before {
    color: $formulaire-grey-dark !important;
  }

  &.classic-grey::before {
    color: $formulaire-grey !important;
  }

  &.light-grey::before {
    color: $formulaire-grey-light !important;
  }

  &.very-light-grey::before {
    color: $formulaire-grey-very-light !important;
  }

  &.disabled {
    cursor: default;
    &::before {
      color: $formulaire-grey-light !important;
    }
  }

  // Icons content

  &.dropbtn::before{
    content: '\e912';
  }

  &.bell::before {
    font-family: 'material-icons';
    content: "\F09C";
  }

  &.cancel::before {
    font-family: 'material-icons';
    content: "\F156";
  }

  &.chevron-down::before {
    font-family: 'material-icons';
    content: "\F140";
  }

  &.chevron-left::before {
    font-family: 'material-icons';
    content: "\F141";
  }

  &.chevron-right::before {
    font-family: 'material-icons';
    content: "\F142";
  }

  &.chevron-up::before {
    font-family: 'material-icons';
    content: "\F143";
  }

  &.clock::before {
    font-family: 'material-icons';
    content: "\F150";
    color: $formulaire-grey-dark;
  }

  &.delete::before {
    font-family: 'material-icons';
    content: "\F1C0";
  }

  &.download::before {
    font-family: 'material-icons';
    content: "\F1DA";
    color: $formulaire-grey-dark;
  }

  &.drag::before {
    font-family: 'material-icons';
    content: "\F1D8";
    color: $formulaire-grey;
  }

  &.duplicate::before {
    font-family: 'material-icons';
    content: "\F18F";
  }

  &.plus-circle::before {
    font-family: 'material-icons';
    content: "\F417";
  }

  &.send::before {
    font-family: 'material-icons';
    content: "\F0108";
    color: $formulaire-grey-dark;
  }

  &.share::before {
    font-family: 'material-icons';
    content: "\F497";
    color: $formulaire-grey-dark;
  }

  &.view-cards::before {
    font-family: 'material-icons';
    content: "\FE4D";
    color: $formulaire-grey-light;
  }

  &.view-tab::before {
    font-family: 'material-icons';
    content: "\F572";
    color: $formulaire-grey-light;
  }

  &.undo::before {
    font-family: 'material-icons';
    content: "\F54C";
  }

  &.ifolder::before {
    font-family: 'material-icons';
    content: "\F24B";
    color: $formulaire-blue;
  }

  &.ipencil::before {
    font-family: 'material-icons';
    content: "\F3EB";
    color: $formulaire-blue;
  }

  &.ipencil:hover::before {
    font-family: 'material-icons';
    content: "\F3EB";
    color: $formulaire-orange;
  }

  &.i-info::before {
    font-family: 'material-icons';
    content: "\F2FD";
    color: $formulaire-blue;
  }
}