// Question-new

.new-question {
  h1 {
    font-size: x-large;
  }

  .dominos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10%;
    margin: 5%;

    .item {
      width: 100px;
      height: 100px;
      margin: auto;

      .domino {
        display: flex;
        flex-direction: column;
        margin: 13px auto;

        .data-text {
          text-align: center;
          font-size: 14px;

          h5 {
            margin: 0;
          }
        }

        .picture {
          opacity: 0.6;

          img {
            width: 40%;
          }
        }
      }
    }
  }
}