// Question-new

.new-question {
  h1 {
    font-size: x-large;
  }

  .dominos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5%;
    margin: 2% 5% 8% 5%;
    @media screen and (max-width: $formulaire-screen-mobile) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 5%;
      overflow-y: scroll;
    }

    .item {
      width: 130px;
      height: 130px;
      margin: auto;

      .domino {
        display: flex;
        flex-direction: column;

        .data-text {
          text-align: center;
          font-size: 14px;

          h5 { margin: 0; }
        }

        .picture {
          padding: 10px;

          img { width: 40%; }
        }
      }
    }
  }
}