<lightbox show="vm.display.lightbox.checkremind" on-close="vm.closeCheckRemind()">
    <h2><i18n>formulaire.form.checkremind.title</i18n></h2>

    <!-- If form is anonymous -->

    <div ng-if="vm.forms.selected[0].anonymous">
        <i18n>formulaire.checkremind.anonymous</i18n><b>[[vm.forms.selected[0].title]]</b> : [[vm.forms.selected[0].nb_responses]]
    </div>

    <div class="action-buttons alone" ng-if="vm.forms.selected[0].anonymous">
        <button class="cell cancel" ng-click="vm.closeCheckRemind()"><i18n>formulaire.close</i18n></button>
    </div>

    <!-- If form is not anonymous -->

    <div ng-if="!vm.forms.selected[0].anonymous">
        <i18n>formulaire.checkremind.name</i18n><b>[[vm.forms.selected[0].title]]</b> :
        <div>
            <label class="chip checkbox" ng-class="{ selected: vm.remindfilter.answered }">
                <i18n>formulaire.checkremind.answered</i18n>
                <input type="checkbox" ng-click="vm.remindfilter.answered = !vm.remindfilter.answered">
            </label>
            <label class="chip checkbox" ng-class="{ selected: vm.remindfilter.notanswered }">
                <i18n>formulaire.checkremind.notanswered</i18n>
                <input type="checkbox" ng-click="vm.remindfilter.notanswered = !vm.remindfilter.notanswered">
            </label>
            <table class="table" style="margin: 1% 5%;">
                <thead>
                    <tr>
                        <th class ="one">
                            <div ng-click="vm.sortRemindlist.filter = 'name'; vm.sortRemindlist.order = !vm.sortRemindlist.order">
                                <i18n>formulaire.checkremind.table.name</i18n>
                                <i class="md-icon" ng-class="vm.sortRemindlist.order ? 'chevron-down' : 'chevron-up'"
                                   ng-if="vm.sortRemindlist.filter == 'name'"></i>
                            </div>
                        </th>
                        <th class ="one">
                            <div ng-click="vm.sortRemindlist.filter = 'surname'; vm.sortRemindlist.order = !vm.sortRemindlist.order">
                                <i18n>formulaire.checkremind.table.surname</i18n>
                                <i class="md-icon" ng-class="vm.sortRemindlist.order ? 'chevron-down' : 'chevron-up'"
                                   ng-if="vm.sortRemindlist.filter == 'surname'"></i>
                            </div>
                        </th>
                        <th class ="one" ng-if="vm.forms.selected[0].multiple">
                            <div ng-click="vm.sortRemindlist.filter = 'nbResponses'; vm.sortRemindlist.order = !vm.sortRemindlist.order">
                                <i18n>formulaire.nb.responses</i18n>
                                <i class="md-icon" ng-class="vm.sortRemindlist.order ? 'chevron-down' : 'chevron-up'"
                                   ng-if="vm.sortRemindlist.filter == 'nbResponses'"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="responderInfo in vm.filterResponses() | orderBy:vm.sortRemindlist.filter:vm.sortRemindlist.order | limitTo : vm.limitTable">
                        <td>[[responderInfo.name]]</td>
                        <td>[[responderInfo.surname]]</td>
                        <td ng-if="vm.forms.selected[0].multiple" style="text-align: center;">[[responderInfo.nbResponses]]</td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="vm.filterResponses().length > vm.limitTable" style="margin: 1%;">
                <a ng-click="vm.seeMore()">
                    <i18n>formulaire.seeMore</i18n>
                </a>
            </div>
        </div>
        <infinite-scroll scrolled="vm.infiniteScroll()" loading-mode="true"></infinite-scroll>
    </div>

    <div class="action-buttons" ng-if="!vm.forms.selected[0].is_public">
        <button class="cell cancel" ng-click="vm.closeCheckRemind()"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.remind()" ng-disabled="vm.form.sent"><i18n>formulaire.remind.title</i18n></button>
    </div>
</lightbox>