<lightbox show="vm.display.lightbox.sharing" on-close="vm.closeShareFormLightbox()">
    <share-panel app-prefix="formulaire" resources="vm.forms.selected" auto-close="true"
    on-failure="vm.shareFailure($error)"></share-panel>

    <div ng-if="!vm.isCloseConfirmationOpen() && vm.forms.selected[0].is_public">
        <h2><i18n>formulaire.share.link.access</i18n></h2>
        <div class="public_link">
            <div class="text ellipsis">[[vm.forms.selected[0].getPublicLink()]]</div>
            <a class="clipboard-link-field" data-clipboard-text="[[vm.forms.selected[0].getPublicLink()]]">
                <i class="i-duplicate md-icon"></i>
            </a>
        </div>
    </div>

    <div class="action-buttons alone" ng-if="!vm.isCloseConfirmationOpen()">
        <button class="cell cancel" ng-click="vm.closeShareFormLightbox()"><i18n>formulaire.close</i18n></button>
    </div>
</lightbox>