<lightbox class="dontSave" show="vm.display.lightbox.reorganization" on-close="vm.cancelOrganizeFormElements()">
    <h2><i18n>formulaire.organize</i18n></h2>
    <div class="drag">
        <ul id="orga-container-0" class="orga-nested-container">
            <li class="row" ng-repeat="formElement in vm.formElements.all | orderBy:'position'">
                <!-- Display Question -->
                <element-item-organization ng-if="FormElementUtils.isQuestion(formElement)"
                                           form-element="formElement"
                                           is-section-child="false"
                                           is-first="formElement.position == 1"
                                           is-last="formElement.position == vm.formElements.all.length">
                </element-item-organization>
                <!-- Display Section -->
                <element-item-organization ng-if="!FormElementUtils.isQuestion(formElement)" class="section-orga"
                                           form-element="formElement"
                                           is-section-child="false"
                                           is-first="formElement.position == 1"
                                           is-last="formElement.position == vm.formElements.all.length">
                </element-item-organization>
                <ul id="orga-container-[[formElement.id]]" class="orga-nested-container" ng-if="!FormElementUtils.isQuestion(formElement)">
                    <li class="row" ng-repeat="question in formElement.questions.all | orderBy:'section_position'">
                        <element-item-organization form-element="question"
                                                   is-section-child="true"
                                                   is-first="false"
                                                   is-last="false">
                        </element-item-organization>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="action-buttons">
        <button class="cell cancel" ng-click="vm.cancelOrganizeFormElements()"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.doOrganizeFormElements()"><i18n>formulaire.confirm</i18n></button>
    </div>
</lightbox>