<lightbox show="vm.display.lightbox.sending" on-close="vm.display.lightbox.sending = false;">
    <h2><i18n>formulaire.responses.send.title</i18n></h2>
    <div>
        <div ng-if="vm.checkMultiEtab()">
            <i18n>formulaire.responses.send.selectStructure</i18n>
            <select ng-model="vm.distribution.structure">
                <option ng-repeat="struct in vm.getStructures()" ng-value="struct">[[struct]]</option>
            </select>
        </div>
        <div ng-if="!vm.form.editable">
            <i18n>formulaire.responses.send.text</i18n>
            <div>
                <i18n>formulaire.responses.send.continue</i18n>
            </div>
        </div>

        <div ng-if="vm.form.editable">
            <div ng-if="vm.distribution.status != DistributionStatus.ON_CHANGE">
                <i18n>formulaire.responses.send.text.editable.first</i18n>
                <div>
                    <i18n>formulaire.responses.send.continue</i18n>
                </div>
            </div>
            <i18n ng-if="vm.distribution.status == DistributionStatus.ON_CHANGE">formulaire.responses.send.text.editable.modif</i18n>
        </div>
    </div>
    <div class="action-buttons">
        <button class="cell cancel" ng-click="vm.display.lightbox.sending = false;"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.doSend()" ng-disabled="vm.isProcessing"><i18n>formulaire.confirm</i18n></button>
    </div>
</lightbox>