<!--Free text-->
<div ng-if="question.question_type == vm.types.FREETEXT">
    <div ng-if="!question.selected">
        <div ng-if="!!question.statement" bind-html="question.statement"></div>
        <textarea disabled ng-if="!!!question.statement"
                  placeholder="[[vm.displayTypeName(question.question_type)]]"></textarea>
    </div>
    <div ng-if="question.selected">
        <editor ng-model="question.statement"></editor>
    </div>
</div>

<!--Short answer-->
<div ng-if="question.question_type == vm.types.SHORTANSWER">
    <textarea disabled i18n-placeholder="formulaire.question.type.SHORTANSWER"></textarea>
</div>

<!--Long answer-->
<div ng-if="question.question_type == vm.types.LONGANSWER">
    <textarea disabled i18n-placeholder="formulaire.question.type.LONGANSWER"></textarea>
</div>

<!--Single answer-->
<div ng-if="question.question_type == vm.types.SINGLEANSWER" class="seven">
    <div ng-repeat="choice in question.choices.all">
        <span>[[$index + 1]].</span>
        <input type="text" class="eleven" ng-model="choice.value" i18n-placeholder="Choix [[$index + 1]]" ng-if="!question.selected" disabled>
        <input type="text" class="eleven" ng-model="choice.value" i18n-placeholder="Choix [[$index + 1]]" ng-if="question.selected">
        <img src="/formulaire/public/img/icons/cancel.svg" ng-click="vm.deleteChoice(question, $index)" ng-if="question.selected"/>
    </div>
    <div style="display: flex; justify-content: center;" ng-if="question.selected">
        <img src="/formulaire/public/img/icons/plus-circle.svg" ng-click="vm.createNewChoice(question)"/>
    </div>
</div>

<!--Multiple answer-->
<div ng-if="question.question_type == vm.types.MULTIPLEANSWER" class="seven">
    <div ng-repeat="choice in question.choices.all">
        <input type="checkbox" id="check-[[choice.id]]" disabled>
        <label for="check-[[choice.id]]">
            <input type="text" class="eleven" ng-model="choice.value" i18n-placeholder="Choix [[$index + 1]]" ng-if="!question.selected" disabled>
            <input type="text" class="eleven" ng-model="choice.value" i18n-placeholder="Choix [[$index + 1]]" ng-if="question.selected">
        </label>
        <img src="/formulaire/public/img/icons/cancel.svg" ng-click="vm.deleteChoice(question, $index)" ng-if="question.selected"/>
    </div>
    <div style="display: flex; justify-content: center;" ng-if="question.selected">
        <img src="/formulaire/public/img/icons/plus-circle.svg" ng-click="vm.createNewChoice(question)"/>
    </div>
</div>

<!--Date-->
<div ng-if="question.question_type == vm.types.DATE">
    <i18n style="color:grey">formulaire.question.date.empty</i18n>
</div>

<!--Time-->
<div ng-if="question.question_type == vm.types.TIME">
    <i18n style="color:grey">formulaire.question.time.empty</i18n>
</div>

<!--File-->
<div ng-if="question.question_type == vm.types.FILE">
    <textarea disabled i18n-placeholder="formulaire.question.type.FILE"></textarea>
</div>