<div class="row row-shadow-effect">
    <div class="cell top">
        <div class="dots">
            <i class="drag md-icon"></i>
            <i class="drag md-icon"></i>
        </div>
    </div>
    <span class="cell title">[[question.title]]</span>
    <div class="cell one container-arrow">
        <div class="rotateUp" ng-class="$first? 'hidden' : ''" ng-click="vm.moveQuestion($index, vm.direction.UP)">
            <i class="arrow-simple"></i>
        </div>
        <div class="rotateDown" ng-class="$last? 'hidden' : ''" ng-click="vm.moveQuestion($index, vm.direction.DOWN)">
            <i class="arrow-simple"></i>
        </div>
    </div>
</div>