<div class="row-shadow-effect">
    <div class="top">
        <div class="dots">
            <i class="i-drag lg-icon dark-grey"></i>
            <i class="i-drag lg-icon dark-grey"></i>
        </div>
    </div>
    <div class="main">
        <span class="title">[[question.title]]</span>
        <div class="one two-mobile container-arrow">
            <div ng-class="$first? 'hidden' : ''" ng-click="vm.moveQuestion($index, Direction.UP)">
                <i class="i-chevron-up lg-icon"></i>
            </div>
            <div ng-class="$last? 'hidden' : ''" ng-click="vm.moveQuestion($index, Direction.DOWN)">
                <i class="i-chevron-down lg-icon"></i>
            </div>
        </div>
    </div>
</div>