<section class="toggle-buttons" ng-if="vm.forms.selected.length > 0">
    <div class="toggle">
        <div class="row">
            <button ng-click="vm.openForm(vm.forms.selected[0])" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.toaster.open</i18n>
            </button>
            <button ng-click="vm.openPropertiesForm(vm.forms.selected[0])" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.toaster.properties</i18n>
            </button>
            <button ng-click="vm.sendForm(vm.forms.selected[0])" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.toaster.send</i18n>
            </button>
            <button ng-click="vm.shareForm(vm.forms.selected[0])" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.toaster.share</i18n>
            </button>
            <button ng-click="vm.exportForms()" class="cell" ng-show="vm.forms.selected.length >= 1">
                <i18n>formulaire.toaster.export</i18n>
            </button>
            <button ng-click="vm.deleteForms()" class="cell" ng-show="vm.forms.selected.length >= 1">
                <i18n>formulaire.toaster.delete</i18n>
            </button>
<!--            <button ng-click="functionToCall()" class="cell" ng-show="nbFormsSelect >= 1" workflow="cf rights.ts">-->
<!--                <i18n>formulaire.example</i18n>-->
<!--            </button>-->
        </div>
    </div>
</section>