<section class="toggle-buttons" ng-if="vm.forms.selected.length > 0">
    <div class="toggle">
        <div class="row">
            <button ng-click="vm.openForm()" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.open</i18n>
            </button>
            <button ng-click="vm.openPropertiesForm()" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.properties</i18n>
            </button>
            <button ng-click="vm.sendForm()" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.send</i18n>
            </button>
            <button ng-click="vm.shareForm()" class="cell" ng-show="vm.forms.selected.length === 1">
                <i18n>formulaire.share</i18n>
            </button>
            <button ng-click="vm.exportForms()" class="cell">
                <i18n>formulaire.export</i18n>
            </button>
            <button ng-click="vm.deleteForms()" class="cell">
                <i18n>formulaire.delete</i18n>
            </button>
            <button ng-click="vm.forms.deselectAll()" class="cell toaster-right">
                <i18n>formulaire.deselect</i18n>
            </button>
<!--            <button ng-click="functionToCall()" class="cell" ng-show="nbFormsSelect >= 1" workflow="cf rights.ts">-->
<!--                <i18n>formulaire.example</i18n>-->
<!--            </button>-->
        </div>
    </div>
</section>