$formulaire-screen-mobile: 500px;
$formulaire-screen-tablet: 800px;
$formulaire-screen-laptop: 1200px;

$formulaire-white: white;
$formulaire-blue: #2a9bc7;
$formulaire-blue-transparent: rgba(75, 175, 213, 0.3);

body.formulaire {
  @import "components/index";

  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    a {text-decoration: underline;}
  }

  .img_mini {
    max-height: 300px;
    margin: 25px;
  }

  .main-button {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .date{
      font-size: 12px;
      height: fit-content;
      background: $formulaire-blue-transparent;
      margin-right: 10px;
      padding: 0 10px;
    }
  }

  // Forms-list

  .folder-info {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .table {
    margin: 10px;

    img {
      opacity: 0.1;
      &.selected { opacity: 0.6; }
    }
  }

  .toaster-right { float: right; }

  .filter-forms {
    width: 97%;
    .drop-down-block, .drop-down-block .drop-down-label {
      margin-bottom: 0;
    }

    .checkbox {
      background-color: $medium-grey;
      margin-right: 0;
    }

    label.chip.checkbox.selected {
      background-color: $accent;
    }
  }

  // Prop-form

  .prop-form {
    display: flex;
    justify-content: center;

    .item {
      width: 50%;
      @media screen and (max-width: $formulaire-screen-laptop) { width: 100%; }

      .domino {
        .picture:hover {
          cursor: pointer;
        }

        .data-text {
          .title {
            font-weight: bold;
            margin: 10px 0 5px 0;
          }

          .interval {
            font-size: 12px;
            font-weight: bold;

            .opening {
              margin-right: 10px;
            }
          }
        }

        .data-date {
          margin-top: 10px;
          font-size: 12px;
        }

        .data-bottom {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  // Respond-question

  .respond-question {
    display: flex;
    flex-direction: column;

    .question {
      padding: 2% 2% 2% 2%;
      margin: 10px;
      background: $formulaire-white;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

      .question-main {
        font-size: 12px;

        textarea {
          width: 100%;
          height: 60px;
          resize: none;
          background: none;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px;
    }
  }
}