.formulaire-cursor {

  &-form  {
    display: flex;
    flex-direction: column;

    .cursor-line {
      display: flex;

      @media screen and (max-width: $formulaire-screen-tablet) {
        flex-direction: column;
        margin-top: 3%;
      }

      .cursor-value-min, .cursor-value-max, .cursor-value-step {
        display: flex;

        @media screen and (min-width: $formulaire-screen-tablet) {
          width: 20%;
        }
      }
    }

    em {
      color: $formulaire-red;
    }

    input[type="number"] {
      width: 40px;
      height: 20px;
      text-align: center;
      -moz-appearance: textfield;
      margin-left: 10px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &-input {
    &-wrapper {
      display: flex;
    }

    &-range {
      display: flex;
      flex-direction: column;
      width: 80vw;
      margin: 0 2%;

      &-values {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
      }
    }
  }
}