<div class="question-title focusable" ng-class="{onedition: vm.reorder || !vm.hasFormResponses}">
    <div class="twelve">
        <div ng-if="!vm.question.selected" ng-class="{'flex-spaced': vm.question.question_type == vm.types.MATRIX}">
            <h4 ng-if="vm.question.title">[[vm.question.title]]<span ng-if="vm.question.mandatory" style="color:red;margin-left:10px">*</span></h4>
            <h4 ng-if="!vm.question.title" class="empty">
                <i18n ng-if="vm.question.question_type == vm.types.FREETEXT">formulaire.question.title.free.empty</i18n>
                <i18n ng-if="vm.question.question_type != vm.types.FREETEXT">formulaire.question.title.empty</i18n>
            </h4>
            <div ng-if="vm.question.question_type == vm.types.MATRIX">
                <select class="two" ng-model="vm.matrixType" ng-disabled="true">
                    <option ng-repeat="matrixType in vm.matrixTypes" ng-value="matrixType"
                            ng-attr-selected="[[matrixType === vm.matrixType ? 'selected' : undefined]]">
                        [[vm.i18n.translate('formulaire.matrix.type.' + vm.types[matrixType])]]
                    </option>
                </select>
            </div>
        </div>
        <div ng-if="vm.question.selected">
            <input type="text" class="ten" ng-if="vm.question.question_type == vm.types.FREETEXT"
                   ng-model="vm.question.title" i18n-placeholder="formulaire.question.title.free.empty" input-guard/>
            <input type="text" class="ten" ng-if="vm.question.question_type != vm.types.FREETEXT && vm.question.question_type != vm.types.MATRIX"
                   ng-model="vm.question.title" i18n-placeholder="formulaire.question.title.empty" input-guard/>
            <div class="flex-spaced" ng-if="vm.question.question_type == vm.types.MATRIX">
                <input type="text" class="nine" ng-model="vm.question.title" i18n-placeholder="formulaire.question.title.empty" input-guard/>
                <select class="two" ng-if="!vm.hasFormResponses" ng-model="vm.matrixType" required
                        ng-change="vm.onChangeMatrixType(vm.matrixType)" input-guard>
                    <option ng-repeat="matrixType in vm.matrixTypes" ng-value="matrixType"
                            ng-attr-selected="[[matrixType === vm.matrixType ? 'selected' : undefined]]">
                        [[vm.i18n.translate('formulaire.matrix.type.' + vm.types[matrixType])]]
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>