<div ng-controller="HomeController as vm">
    <div class="row">
        <section class="cell ten">
            <div>
                <h1>
                    <i18n>formulaire.public.title</i18n><i18n>formulaire.public.separator</i18n>[[vm.form.title]]
                </h1>
            </div>
        </section>
    </div>

    <div class="respond-question">
        <div class="nine twelve-mobile">
            <div class="question rgpd">
                <h4><i18n>formulaire.public.rgpd.title</i18n></h4>
                <div class="question-main">
                    <rgpd form="vm.form" ng-if="vm.form.rgpd"></rgpd>
                    <div class="bottom-spacing-twice"><i18n>formulaire.public.rgpd.text.1</i18n></div>
                    <div class="bottom-spacing-twice"><i18n>formulaire.public.rgpd.text.2</i18n></div>
                </div>
            </div>
            <div class="buttons alone">
                <button class="cell" ng-click="vm.startForm()"><i18n>formulaire.public.respond.form</i18n></button>
            </div>
        </div>
    </div>
</div>