<div ng-controller="RespondQuestionController as vm">
    <div class="row">
        <section class="cell ten">
            <div>
                <h1>
                    <i18n>formulaire.public.title</i18n><i18n>formulaire.public.separator</i18n>[[vm.form.title]]
                </h1>
            </div>
        </section>
    </div>

    <progress-bubble-bar form-element="vm.formElement" nb-form-elements="vm.nbFormElements"></progress-bubble-bar>

    <div class="respond-question">
        <div class="nine twelve-mobile">

            <!-- Display question -->
            <public-question-item ng-if="FormElementUtils.isQuestion(vm.formElement) && vm.formElement.question_type != Types.MATRIX"
                                  question="vm.formElement"
                                  responses="vm.allResponsesInfos.get(vm.formElement).get(vm.formElement)">
            </public-question-item>
            <public-respond-matrix ng-if="FormElementUtils.isQuestion(vm.formElement) && vm.formElement.question_type == Types.MATRIX"
                           question="vm.formElement"
                           responses="vm.allResponsesInfos.get(vm.formElement).get(vm.formElement)">
            </public-respond-matrix>

            <!-- Display section -->
            <div class="section" ng-if="!FormElementUtils.isQuestion(vm.formElement)">
                <div class="section-top">
                    <div class="title"><h4>[[vm.formElement.title]]</h4></div>
                    <div class="description" ng-if="vm.formElement.description">
                        <div data-ng-bind-html="vm.getHtmlDescription(vm.formElement.description)"></div>
                    </div>
                </div>
                <div class="section-main">
                    <div ng-repeat="question in vm.formElement.questions.all | orderBy:'section_position'">
                        <public-question-item ng-if="question.question_type != Types.MATRIX"
                                              question="question"
                                              responses="vm.allResponsesInfos.get(vm.formElement).get(question)">
                        </public-question-item>
                        <public-matrix ng-if="question.question_type == Types.MATRIX"
                                       question="question"
                                       responses="vm.allResponsesInfos.get(vm.formElement).get(question)">
                        </public-matrix>
                    </div>
                </div>
            </div>

            <!-- Bottom page buttons -->
            <div class="buttons">
                <button class="cell" ng-if="vm.formElement.position <= 1" ng-disabled="true"><i18n>formulaire.public.prev</i18n></button>
                <button class="cell cancel" reset-guard="vm.prev()" ng-if="vm.formElement.position > 1"><i18n>formulaire.public.prev</i18n></button>
                <button class="cell" reset-guard="vm.next()"><i18n>formulaire.public.next</i18n></button>
            </div>
        </div>
    </div>
</div>