<div class="row filter-forms">
    <div class="drop-down-block" ng-class="{slided: displayFilterForms}">
        <div class="drop-down-label" ng-click="displayFilterForms = !displayFilterForms">
            <div class="twelve cell">
                <i class="arrow"></i>
                <span>
                    <i18n>formulaire.filter</i18n>
                </span>
            </div>
        </div>
    </div>
    <div ng-hide="!displayFilterForms">
        <label class="chip margin-left checkbox" ng-class="{ selected: vm.forms.isOrderedAsc('creationDate') || vm.forms.isOrderedDesc('creationDate')}" ng-click="vm.forms.orderByField('creationDate'); vm.sort()">
            <span><i18n>formulaire.filter.creationDate</i18n></span>
            <span class="icons">
                    <i class="arrow orderArrow" ng-if="vm.forms.isOrderedAsc('creationDate')"></i>
                    <i class="arrow orderArrow bottom" ng-if="vm.forms.isOrderedDesc('creationDate')"></i>
            </span>
        </label>
        <label class="chip margin-left checkbox" ng-class="{ selected: vm.forms.isOrderedAsc('modificationDate') || vm.forms.isOrderedDesc('modificationDate')}" ng-click="vm.forms.orderByField('modificationDate'); vm.sort()">
            <span><i18n>formulaire.filter.modificationDate</i18n></span>
            <span class="icons">
                    <i class="arrow orderArrow" ng-if="vm.forms.isOrderedAsc('modificationDate')"></i>
                    <i class="arrow orderArrow bottom" ng-if="vm.forms.isOrderedDesc('modificationDate')"></i>
            </span>
        </label>
        <label class="chip margin-left checkbox" ng-class="{ selected: vm.forms.isOrderedAsc('creator') || vm.forms.isOrderedDesc('creator')}" ng-click="vm.forms.orderByField('creator'); vm.sort()">
            <span><i18n>formulaire.filter.creator</i18n></span>
            <span ng-if="vm.forms.isOrderedAsc('creator')" class="leftMarginLetter"> A-Z </span>
            <span ng-if="vm.forms.isOrderedDesc('creator')" class="leftMarginLetter"> Z-A </span>
        </label>
        <label class="chip margin-left checkbox" ng-class="{ selected: vm.forms.isOrderedAsc('title') || vm.forms.isOrderedDesc('title')}" ng-click="vm.forms.orderByField('title'); vm.sort()">
            <span><i18n>formulaire.filter.title</i18n></span>
            <span ng-if="vm.forms.isOrderedAsc('title')" class="leftMarginLetter"> A-Z </span>
            <span ng-if="vm.forms.isOrderedDesc('title')" class="leftMarginLetter"> Z-A </span>
        </label>
        <label class="chip margin-left checkbox" ng-class="{ selected: vm.forms.filters.shared}">
            <span>
                <i18n>formulaire.filter.shared</i18n>
            </span>
            <input type="checkbox" ng-click="vm.forms.checkTypeFilterSelected('shared'); vm.filter()">
        </label>
        <label class="chip margin-left checkbox" ng-class="{ selected: vm.forms.filters.sent}">
            <span>
                <i18n>formulaire.filter.sent</i18n>
            </span>
            <input type="checkbox" ng-click="vm.forms.checkTypeFilterSelected('sent'); vm.filter()">
        </label>
    </div>
</div>
