<div class="twelve">
    <div class="choice" ng-repeat="choice in vm.question.choices.all | orderBy:['position', 'id']">
        <div class="container-arrow" ng-if="vm.question.selected">
            <div ng-class="{hidden : $first || choice.is_custom}" ng-click="vm.question.moveChoice(choice, vm.direction.UP)">
                <i class="i-chevron-up lg-icon"></i>
            </div>
            <div ng-class="{hidden : $last || vm.question.choices.all[$index+1].is_custom}"
                 ng-click="vm.question.moveChoice(choice, vm.direction.DOWN)">
                <i class="i-chevron-down lg-icon"></i>
            </div>
        </div>
        <label class="left-spacing-twice" ng-class="vm.question.conditional ? 'five four-mobile' : 'twelve'">
            <!-- Display numbers for classic QCU -->
            <span ng-if="!vm.isRadio" style="cursor: default">[[$index + 1]].</span>
            <!-- Display radio button for QCUR -->
            <input ng-if="vm.isRadio" type="radio" disabled>
            <span ng-if="vm.isRadio" style="cursor: default"></span>

            <input type="text" ng-model="choice.value" ng-if="!vm.question.selected && !choice.is_custom" disabled
                   ng-class="vm.question.conditional ? 'eleven eight-mobile' : 'width95 ten-mobile'"
                   placeholder="[[vm.i18n.getWithParam('formulaire.choice', choice.position)]]">
            <input type="text" ng-model="choice.value" ng-if="vm.question.selected && !choice.is_custom" input-guard
                   ng-class="vm.question.conditional ? 'eleven eight-mobile' : 'width95 ten-mobile'"
                   placeholder="[[vm.i18n.getWithParam('formulaire.choice', choice.position)]]">
            <input type="text" value="[[vm.i18n.translate('formulaire.other')]] : " ng-if="choice.is_custom" disabled
                   ng-class="vm.question.conditional ? 'eleven eight-mobile' : 'width95 ten-mobile'">
        </label>
        <i class="i-cancel lg-icon dontSave" ng-click="vm.deleteChoice($index)" ng-if="vm.question.selected && !vm.hasFormResponses"></i>
        <select class="five" ng-if="vm.question.conditional" ng-model="choice.next_form_element"
                ng-change="vm.onSelectOption(choice)" ng-disabled="!vm.question.selected" input-guard>
            <option ng-if="vm.getNextElement() != null" ng-value="vm.getNextElement()">[[vm.i18n.translate('formulaire.access.next')]]</option>
            <option ng-repeat="formElement in vm.formElements.all | filter:vm.filterNextElements | orderBy:['position', 'id']" ng-value="formElement">
                [[vm.i18n.translate('formulaire.access.element') + formElement.title]]
            </option>
            <option ng-value="null">[[vm.i18n.translate('formulaire.access.recap')]]</option>
        </select>
    </div>
    <div class="add-choice" ng-if="vm.question.selected && !vm.hasFormResponses">
        <i class="i-plus-circle lg-icon" ng-click="vm.question.createNewChoice()"></i>
        <div ng-if="!vm.question.choices.all[vm.question.choices.all.length - 1].is_custom">
            <i18n>formulaire.question.add.choice.other.text</i18n>
            <a class="dontSave" ng-click="vm.question.createNewChoice(true)"><i18n>formulaire.question.add.choice.other.link</i18n></a>
        </div>
    </div>
</div>