<lightbox show="vm.display.lightbox.checkremind" on-close="vm.closeCheckRemind()">
    <h2><i18n>formulaire.form.checkremind.title</i18n></h2>
    <i18n>formulaire.checkremind.name</i18n><b>[[vm.forms.selected[0].title]]</b>

    <div>
        <label class="chip checkbox" ng-class="{ selected: vm.remindfilter.answered }">
            <i18n>formulaire.checkremind.answered</i18n>
            <input type="checkbox" ng-click="vm.remindfilter.answered = !vm.remindfilter.answered">
        </label>
        <label class="chip checkbox" ng-class="{ selected: vm.remindfilter.notanswered }">
            <i18n>formulaire.checkremind.notanswered</i18n>
            <input type="checkbox" ng-click="vm.remindfilter.notanswered = !vm.remindfilter.notanswered">
        </label>
        <table class="table" style="margin: 1% 5%;">
            <thead>
            <tr>
                <th class ="one"><i18n ng-click="vm.sortRemindlist.filter = 'name'; vm.sortRemindlist.order = !vm.sortRemindlist.order">formulaire.table.checkremind.name</i18n></th>
                <th class ="one"><i18n ng-click="vm.sortRemindlist.filter = 'surname'; vm.sortRemindlist.order = !vm.sortRemindlist.order">formulaire.table.checkremind.surname</i18n></th>
                <th class ="four" ng-if="vm.forms.selected[0].multiple"><i18n>formulaire.table.checkremind.nbResponses</i18n></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="responderInfo in vm.filterResponses() | orderBy:vm.sortRemindlist.filter:vm.sortRemindlist.order | limitTo : vm.limitTable">
                <td>[[responderInfo.name]]</td>
                <td>[[responderInfo.surname]]</td>
                <td ng-if="vm.forms.selected[0].multiple">[[responderInfo.nbResponses]]</td>
            </tr>
            </tbody>
        </table>
        <div ng-if="vm.responders.length>10" style="margin: 1%;">
            <a ng-click="vm.seeMore()">
                <i18n>formulaire.seeMore</i18n>
            </a>
        </div>
    </div>
    <div class="action-buttons">
        <button class="cell cancel" ng-click="vm.closeCheckRemind()"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.remind()"><i18n>formulaire.remind.title</i18n></button>
    </div>
    <infinite-scroll scrolled="vm.infiniteScroll()" loading-mode="true"></infinite-scroll>
</lightbox>