<lightbox show="vm.display.lightbox.myResponses" on-close="vm.closeMyResponses()">
    <h2><i18n>formulaire.myResponses</i18n> - [[vm.forms.selected[0].title]]</h2>
    <div ng-repeat="dist in vm.getMyResponses(vm.forms.selected[0])">
        [[$index + 1]]. <i18n>formulaire.responded.date</i18n>[[displayDate(dist.date_response)]]
    </div>
    <div style="floar: right; margin-top: 2%;">
        <button class="cell cancel" ng-click="vm.closeMyResponses()"><i18n>formulaire.close</i18n></button>
    </div>
</lightbox>