<lightbox class="dontSave" show="vm.display.lightbox.reorganization" on-close="vm.cancelOrganizeQuestions()">
    <h2><i18n>formulaire.organize</i18n></h2>
    <div class="drag">
        <ul sortable-list>
            <li class="row" ng-repeat="formElement in vm.formElements.all | orderBy:'position'"
                sortable-element data-ng-change="vm.reOrder()" data-ng-model="formElement.index">
                <div ng-include="'formulaire/public/template/components/formElement-item-organization.html'"></div>
            </li>
        </ul>
    </div>
    <div class="action-buttons">
        <button class="cell cancel" ng-click="vm.cancelOrganizeQuestions()"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.doOrganizeQuestions()"><i18n>formulaire.confirm</i18n></button>
    </div>
</lightbox>