<lightbox show="vm.display.lightbox.reorganization" on-close="vm.display.lightbox.reorganization = false;">
    <h1><i18n>formulaire.organize</i18n></h1>
    <div class="drag">
        <ul sortable-list>
            <li class="row" ng-repeat="question in vm.questions.all | orderBy:question.position"
                sortable-element data-ng-change="vm.reOrder()" data-ng-model="question.index">
                <div ng-include="'formulaire/public/template/components/question-item-organization.html'"></div>
            </li>
        </ul>
    </div>
    <div style="margin-top:20px; float: right;">
        <button class="cell" ng-click="vm.display.lightbox.reorganization = false;"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.doOrganizeQuestions()"><i18n>formulaire.confirm</i18n></button>
    </div>
</lightbox>