<lightbox class="dontSave" show="vm.display.lightbox.reorganization" on-close="vm.display.lightbox.reorganization = false;">
    <h2 style="margin-bottom: 20px"><i18n>formulaire.organize</i18n></h2>
    <div class="drag">
        <ul sortable-list>
            <li class="row" ng-repeat="question in vm.questions.all | orderBy:'position'"
                sortable-element data-ng-change="vm.reOrder()" data-ng-model="question.index">
                <div ng-include="'formulaire/public/template/components/question-item-organization.html'"></div>
            </li>
        </ul>
    </div>
    <div style="margin-top:20px; float: right;">
        <button class="cell cancel" ng-click="vm.display.lightbox.reorganization = false;"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.doOrganizeQuestions()"><i18n>formulaire.confirm</i18n></button>
    </div>
</lightbox>