<lightbox show="vm.display.lightbox.sending" on-close="vm.display.lightbox.sending = false;">
    <h1><i18n>formulaire.responses.send.title</i18n></h1>
    <div>
        <i18n>formulaire.responses.send.text</i18n>
        <br>
        <i18n>formulaire.responses.send.continue</i18n>
    </div>
    <div style="margin-top:20px; float: right;">
        <button class="cell" ng-click="vm.display.lightbox.sending = false;"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.doSend()"><i18n>formulaire.confirm</i18n></button>
    </div>
</lightbox>