<lightbox show="vm.display.lightbox.sending" on-close="vm.display.lightbox.sending = false;">
    <h2><i18n>formulaire.responses.send.title</i18n></h2>
    <div>
        <div ng-if="vm.checkMultiEtab()">
            <i18n>formulaire.responses.send.selectStructure</i18n>
            <select ng-model="vm.distribution.structure">
                <option ng-repeat="struct in vm.getStructures()" ng-value="struct">[[struct]]</option>
            </select>
        </div>
        <br/>
        <i18n ng-if="!vm.form.editable">formulaire.responses.send.text</i18n>
        <br/>
        <i18n ng-if="!vm.form.editable">formulaire.responses.send.continue</i18n>

        <i18n ng-if="vm.form.editable">formulaire.responses.editable.send.text</i18n>
    </div>
    <div class="action-buttons">
        <button class="cell cancel" ng-click="vm.display.lightbox.sending = false;"><i18n>formulaire.cancel</i18n></button>
        <button class="cell" ng-click="vm.doSend()"><i18n>formulaire.confirm</i18n></button>
    </div>
</lightbox>