<div class="file-picker-list">
    <div class="row media-library">

        <!-- List files -->
        <div class="row media-library" ng-if="vm.filesArray && vm.filesArray.length > 0">
            <div class="loading-list drop-zone">
                <ul>
                    <li ng-repeat="file in vm.filesArray">
                        <div class="icon"><i ng-class="vm.getIconClass(file.type)"></i></div>
                        <div class="title">[[file.name]]</div>
                        <div class="status-infos">
                            <span class="small-text horizontal-margin">[[vm.getSizeHumanReadable(file.size)]]</span>
                        </div>
                        <i class="close" ng-click="vm.delete(file)"></i>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Picker files -->
        <div class="row media-library">
            <div class="drop-zone import-files">
                <article class="drop flex-row align-center">
                    <i class="two cloud-upload"></i>
                    <div class="ten help"><em><i18n>medialibrary.drop.help2</i18n></em></div>
                </article>
                <article class="default flex-row align-center absolute-position">
                    <div class="three select-file">
                        <div class="hidden-content">
                            <input type="file" ng-model="vm.picked.files" files-input-change="vm.listFiles()" multiple="multiple" />
                        </div>
                        <button class="file-button no-margin"><i18n>library.file.choose</i18n></button>
                    </div>
                    <i class="two cloud-upload"></i>
                    <div class="seven help"><em><i18n>medialibrary.drop.help</i18n></em></div>
                </article>
            </div>
        </div>

    </div>
</div>